@page
@{
    ViewData["Title"] = "会計処理";
}

<h2>会計処理メニュー</h2>

<div class="btn-container">
    <a class="btn btn-primary" asp-page="/Account/daybudget">日計表を見る</a>
    <a class="btn btn-success" asp-page="/Account/startbudget">レジ金開始時を見る</a>
    <a class="btn btn-danger" asp-page="/Account/endbudget">レジ金終了時を見る</a>
</div>
